{% extends 'base.html.twig' %}

{% block title %}Liste des Dlcs
{% endblock %}

{% block body %}
	{% for flashMessage in app.flashes('success') %}
		<div class="position-fixed top-0 p-3" style="z-index: 5" id="flash-message">
			<div class="alert alert-success" role="alert">
				{{ flashMessage }}
			</div>
		</div>
	{% endfor %}
	{% for flashMessage in app.flashes('warning') %}
		<div class="position-fixed top-0 p-3" style="z-index: 5" id="flash-message">
			<div class="alert alert-danger" role="alert">
				{{ flashMessage }}
			</div>
		</div>
	{% endfor %}
	<div class="example-wrapper">
		<nav>
			<h1 class="txt-center">{{ "dlc_page_title"|trans({}, 'table_page') }}</h1>
			<a href="{{ path('create_dlc') }}" style="text-decoration: none; float:right; margin: 5px 20px;">
				<button class="btn btn-outline-success">{{ "newDlc_button"|trans({}, 'table_page') }}</button>
			</a>
		</nav>
		<table class="table table-hover m-4">
			<thead>
				<tr>
					{{ "dlc_list_title"|trans({}, 'table_page')|raw }}
				</tr>
			</thead>
			<tbody>
				{% for dlc in dlcs %}
					<tr>
						<th scope="row">{{dlc.id}}</th>
						<td>{{dlc.name}}</td>
						<td>{{dlc.getGameName()}}</td>
						<td>
							<a href="{{ path('dlc_detail', {'id': dlc.id}) }}" style="text-decoration: none;">
								<button class="btn btn-outline-primary">{{ "modifier_btn"|trans({}, 'table_page') }}</button>
							</a>
							<form action="{{ path('delete_dlc', {'id': dlc.id}) }}" method="post" style="display: inline;">
								<button type="submit" class="btn btn-outline-danger">{{ "supprimer_btn"|trans({}, 'table_page') }}</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
