{% extends 'base.html.twig' %}
{% block title %}
	{{ "developer_page_title"|trans({}, 'table_page') }}
{% endblock %}

{% block body %}
	{% for flashMessage in app.flashes('success') %}
		<div class="position-fixed top-0 p-3" style="z-index: 5" id="flash-message">
			<div class="alert alert-success" role="alert">
				{{ flashMessage }}
			</div>
		</div>
	{% endfor %}
	{% for flashMessage in app.flashes('warning') %}
		<div class="position-fixed top-0 p-3" style="z-index: 5" id="flash-message">
			<div class="alert alert-danger" role="alert">
				{{ flashMessage }}
			</div>
		</div>
	{% endfor %}
	<div class="example-wrapper">
		<nav>
			<h1 class="txt-center">{{ "developer_page_title"|trans({}, 'table_page') }}</h1>
			<a href="{{ path('create_developer') }}" style="text-decoration: none; float:right; margin: 5px 20px;">
				<button class="btn btn-outline-success">{{ "newDeveloper_button"|trans({}, 'table_page') }}</button>
			</a>
		</nav>
		<table class="table table-hover m-3">
			<thead>
				<tr>
					{{ "developer_list_title"|trans({}, 'table_page')|raw }}
				</tr>
			</thead>
			<tbody>
				{% for d in developers %}
					<tr>
						<th scope="row">{{d.id}}</th>
						<td>{{d.name}}</td>
						<td>
							{{d.games | length}}
						</td>
						<td>
							<form action="{{ path('developer_detail', {'id': d.id}) }}" method="post" style="display: inline;">
								<button class="btn btn-outline-primary">{{ "modifier_btn"|trans({}, 'table_page') }}</button>
							</form>
							<form action="{{ path('delete_developer', {'id': d.id}) }}" method="post" style="display: inline;">
								<button type="submit" class="btn btn-outline-danger">{{ "supprimer_btn"|trans({}, 'table_page') }}</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
